
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.navbar-light {
  padding: 60;
}

 .nav-item {
  padding: 5;
  list-style-type: none;
  color: #aaba91;
}

  .site-heading {
    margin-left: 300;
    color: #aaba91;
  }

.navbar-brand {
  border: 2px solid black;
}
